<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sawari"
        tools:targetApi="31">
        <activity
            android:name=".functions.PickupActivity"
            android:exported="false" />
        <activity
            android:name=".help.PaymentANDWalletActivity"
            android:exported="false" />
        <activity
            android:name=".help.RefferalsActivity"
            android:exported="false" />
        <activity
            android:name=".help.AccountandAppActivity"
            android:exported="false" />
        <activity
            android:name=".help.ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".help.RideANDBillingActivity"
            android:exported="false" />
        <activity
            android:name=".help.TicketActivity"
            android:exported="false" />
        <activity
            android:name=".functions.DropActivity"
            android:exported="false" />
        <activity
            android:name=".functions.ForyouFragment"
            android:exported="false" />
        <activity
            android:name=".menu.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".menu.ClaimActivity"
            android:exported="false" />
        <activity
            android:name=".menu.RewardActivity"
            android:exported="false" />
        <activity
            android:name=".menu.RAEActivity"
            android:exported="false" />
        <activity
            android:name=".menu.SafetyActivity"
            android:exported="false" />
        <activity
            android:name=".menu.RideActivity"
            android:exported="false" />
        <activity
            android:name=".menu.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".menu.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".Login.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".menu.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Login.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".Login.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".functions.MainActivity"
            android:exported="false" />
        <activity
            android:name=".functions.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAQpea9jaFts6YKXjd2YfZUydIYjaPEGJM" />
    </application>

</manifest>